*{
    padding: 5px;
    margin: 5px;
    border: 0;
}
.logo img{
    size: 20px;
    margin-left: 10px;
}
body{
    font-family: sans-serif;
    color:rgb(245, 231, 231);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
}
.card-free{
    padding-left:30%;
}
.good{
    float: left;
}
.book{
    display: flex;
}